---
import { cn } from "@/lib/utils";
import { getCollection } from "astro:content";

import type { CollectionEntry } from "astro:content";

import BlogPostLayout from "@/layouts/BlogPostLayout.astro";

import DateDisplay from "@/components/DateDisplay.astro";
import { Image } from "@unpic/astro";
import BlogPostCommmentSection from "@/components/BlogPostCommmentSection.astro";
import { Separator } from "@/components/ui/separator";
import { SideMenu } from "@/components/side-menu";
import { BlogPostTableOfContents } from "@/components/blog-post-table-of-contents";

export async function getStaticPaths() {
  // Get blog posts collection
  const posts: CollectionEntry<"posts">[] = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// Notify Astro to prerender the page as static HTML during the build process
export const prerender = true;

const { post } = Astro.props;

// Render the blog post content
const { Content, headings } = await post.render();

// Get the cover image path
let cover = post.data.cover;

if (!cover) {
  cover = `/images/${post.slug}/cover.png`;
}

const blogPostHeadings = headings.filter(
  (heading) => heading.depth === 2 || heading.depth === 3,
);
---

<BlogPostLayout
  className="relative"
  frontmatter={post.data}
  blogPostHeadings={blogPostHeadings}
>
  <!-- Title -->
  <h1>{post.data.title}</h1>

  <!-- Table of contents button -->
  <SideMenu
    client:load
    className="fixed right-8 top-20 hidden bg-panel md:flex"
    variant="in-margin"
    blogPostHeadings={blogPostHeadings}
  />

  <!-- Table of contents in the margin for large screens -->
  <!-- <div
    class="not-prose wide-for-in-margin-table-of-contents:flex fixed right-[0.5rem] top-[4rem] hidden w-[13rem] flex-col border-l-0 bg-transparent"
  >
    <p class="bg-transparent px-4 py-2 text-code-comment backdrop-blur">
      {"/* On this page */"}
    </p>

    <div class="overflow-x-auto pb-4" style={{ height: "calc(100vh - 4rem)" }}>
      <BlogPostTableOfContents
        client:load
        className=" "
        title={null}
        headings={blogPostHeadings}
        fontSizeCategory="default"
      />
    </div>
  </div> -->

  <!-- Date -->
  <DateDisplay className="text-code-string" date={post.data.createdAt} />

  <!-- Cover image -->
  <Image
    class="rounded-md border-2 shadow-md"
    src={cover}
    alt="Cover Image"
    placeholder="blurhash"
  />

  <!-- Main content -->
  <Content />

  <!-- Separator -->
  <Separator />

  <!-- Comments -->
  <BlogPostCommmentSection />

  <!-- Table of contents -->
  <div
    class="not-prose absolute right-0 top-[4rem] z-40 hidden w-[auto] flex-col rounded-md border-l-2 bg-panel p-4 shadow-md"
  >
    {
      blogPostHeadings.map((heading) => {
        return (
          <a
            class={cn("group text-code-string hover:text-code-function", {
              // Add indentation for subheadings
              "ml-8 text-code-string/70": heading.depth > 2,
            })}
            href={`#${heading.slug}`}
          >
            {/* Title */}
            <div class="flex flex-row gap-1">
              <div class="flex h-full flex-col justify-start">
                <span class="icon-[material-symbols--arrow-right] h-6 w-6" />
              </div>

              <p class="h-full transition duration-300 group-hover:translate-x-1">
                {heading.text}
              </p>
            </div>
          </a>
        );
      })
    }
  </div>
</BlogPostLayout>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  h2,
  h3 {
    scroll-margin-top: 6rem;
  }
</style>
